img {
    text-align: center;
}

.image {
    margin-top: 100px;
    text-align: center;
    position: relative;
}

.name {

    margin-top: -229px;
    margin-right: 411px;
    color: rgb(2, 2, 2);
}

span {
    background-color: yellow;
}

.btn {
    position: fixed;
    bottom: 0;
    right: 5px;
    background-color: antiquewhite;
    height: 50px;
    width: 150px;
}

.image1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 100px;
    right: 850px;
}