h1{
    color: red;
}
.test{
    color: green;
}
.test1{
    background-color: cadetblue;
}
#demo{
    border: 3px solid black;
    border-radius: 40px;
}
/* *{
    background-color: aqua;
} */

#border{
    border: 3px solid black;
}